/* CSS not showing error in browser */
body{ 
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-image: url("bkgd.png");
    background-size: contain;
}

.score{
    font-size: 100%;
}

/* board not showing in browser */
.board {
    width: auto; 
    height: auto;
    display: grid;
    border: black;
    
}

.hole {
    height: 100px;
    width: 20px;
    border: black;
   
}

/*create mole, get 3 different png about 200px*/
.mole {
    background-image: url();
}

